# TMDb API Configuration
TMDB_API_KEY=07c1396db17afadc024cbb5f0c3701c2
TMDB_READ_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwN2MxMzk2ZGIxN2FmYWRjMDI0Y2JiNWYwYzM3MDFjMiIsIm5iZiI6MTc4NjEyNDk5Ni40MDIsInN1YiI6IjZhNzYxYWM0ZjYyNmIzMWI1YTQxZjk4ZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.M3CJ1j7zAQD24Nebt5_PddqLAHQwlhvyZvm2EU1dd40

# Streamtape API Configuration
STREAMTAPE_LOGIN=4db68bae5deec46b3a4b
STREAMTAPE_KEY=a7azDDb68ACx8dP

# Bunny.net API Configuration
BUNNY_VIDEO_LIBRARY_ID=722927
BUNNY_CDN_HOSTNAME=vz-c3b5c7e8-b89.b-cdn.net
BUNNY_API_KEY=1b6e3939-400b-40eb-98d3945f90fe-85f3-4570
BUNNY_READ_ONLY_API_KEY=079f4583-e0ea-47dd-bfbeed8904de-2671-47af

# Application Configuration - Mude para a URL da Vercel no deploy
NEXT_PUBLIC_BASE_URL=http://localhost:3000
